<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	    http://www.springframework.org/schema/context 
	    http://www.springframework.org/schema/context/spring-context-2.5.xsd
	    http://www.springframework.org/schema/aop 
	    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"    
    default-autowire="byName" default-lazy-init="false">
    
    <!-- component-scan自动搜索@Component , @Controller , @Service , @Repository等标注的类 -->
    <context:component-scan base-package="com.**.dao"/>

    <!-- 加载JDOPersistenceManagerFactory -->
    <bean id="localPersistenceManagerFactoryBean" class="org.springframework.orm.jdo.LocalPersistenceManagerFactoryBean">
    	<property name="persistenceManagerFactoryName" value="Persistence"/>
    </bean>
    
    <!-- 基于JDK代理模式提供 JDOPersistenceManagerFactory代理实例，用于Spring进行统一事务管理  -->
    <bean id="persistenceManagerFactory" class="org.springframework.orm.jdo.TransactionAwarePersistenceManagerFactoryProxy">
        <property name="targetPersistenceManagerFactory" ref="localPersistenceManagerFactoryBean"/>
    </bean>
    
    <!-- 加载JDOTransactionManager,提供线程绑定的PersistenceManager -->
    <bean id="transactionManager" class="org.springframework.orm.jdo.JdoTransactionManager">
    	<property name="persistenceManagerFactory" ref="persistenceManagerFactory"/>
    </bean>
</beans>
